@media screen and (min-width: 768px) {
    #element-58 .x_7b2817bf {
        color: #000000;
    }
}
#element-58 .x_7b2817bf {
    color: #000000;
}
@media screen and (min-width: 768px) {
    #element-58 .x_41d870ef {
        text-align: center;
        line-height: 3.625rem;
        font-size: 2.2291rem;
    }
}

@media screen and (min-width: 768px) {
    #element-58 strong {
        font-weight: 700;
    }
}
#element-58 strong {
    font-weight: 700;
}
@media screen and (min-width: 768px) {
    #element-58 .x_7b2817bf {
        color: #000000;
    }
}
#element-58 .x_7b2817bf {
    color: #000000;
}
@media screen and (min-width: 768px) {
    #element-58 .x_41d870ef {
        text-align: center;
        line-height: 3.625rem;
        font-size: 2.2291rem;
    }
}
#element-58 .x_67ab24c6 {
    text-align: center;
    line-height: 2.1875rem;
    font-size: 1.548rem;
}
@media screen and (min-width: 768px) {
    #element-58 {
        top: 2.4375rem;
        left: 18.25rem;
        height: 3.625rem;
        width: 25rem;
        z-index: 12;
        color: #37465A;
        font-size: 2.2291rem;
        line-height: 3.6rem;
        text-align: center;
    }
}

#element-58 {
    top: 1.5625rem;
    left: 0.9375rem;
    height: 2.1875rem;
    width: 22.3125rem;
    z-index: 12;
    color: #37465A;
    font-size: 1.548rem;
    line-height: 2.1875rem;
    text-align: center;
}
@media screen and (min-width: 768px) {
    #page-block-t5krfndfgeb .section-holder-border {
        border: 0;
    }
}
#page-block-t5krfndfgeb .section-holder-border {
    border: 0;
}
.item-block {
    display: block;
    height: 100%;
    width: 100%;
}
.item-absolute {
    position: absolute;
}
@media screen and (min-width: 768px) {
    #page-block-t5krfndfgeb {
        height: 37.125rem;
        max-width: 100%;
    }
}
#page-block-t5krfndfgeb {
    height: 32.375rem;
    max-width: 100%;
}
.section-relative {
    position: relative;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    #element-200 {
        top: 34.8125rem;
        left: 19.5625rem;
        height: 3.125rem;
        width: 20.8125rem;
        z-index: 21;
    }
}
#element-200 {
    top: 29.75rem;
    left: 1.5rem;
    height: 3.75rem;
    width: 20.875rem;
    z-index: 21;
}
.item-absolute {
    position: absolute;
}
@media screen and (min-width: 768px) {
    #element-77 .x_e17eb1e4 {
        text-align: left;
        line-height: 1.8125rem;
        font-size: 0.9907rem;
    }
}
#element-77 .x_0708b31d {
    text-align: justify;
    line-height: 1.25rem;
    font-size: 0.8669rem;
}

@media screen and (min-width: 768px) {
    #element-77 {
        top: 5.6875rem;
        left: 2.0625rem;
        height: 27.1875rem;
        width: 54.8125rem;
        z-index: 16;
        color: #37465A;
        font-size: 0.9907rem;
        line-height: 1.8rem;
        text-align: left;
    }
}
#element-77 {
    top: 4.375rem;
    left: 1.25rem;
    height: 23.75rem;
    width: 22.4375rem;
    z-index: 16;
    color: #37465A;
    font-size: 0.8669rem;
    line-height: 1.225rem;
    text-align: justify;
}